* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.marquee-container {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content,
.marquee-content--clone {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

img {
    object-fit: contain;
}

.marquee-content,.marquee-content--clone {
    animation: scroll infinite linear 6s;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }